body {
  mso-displayed-decimal-separator: "\,";
  mso-displayed-thousand-separator: "\.";
}

.font010772 {
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
}

.font510772 {
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
}

.xl1510772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl6510772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl6610772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border: none;
  background: #c5e0b3;
  mso-pattern: #c5e0b3 none;
  white-space: nowrap;
}

.xl6710772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl6810772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: left;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl6910772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: "Short Date";
  text-align: center;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7010772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  border-top: 0.5pt solid black;
  border-right: 0.5pt solid black;
  border-bottom: none;
  border-left: 0.5pt solid black;
  background: #c5e0b3;
  mso-pattern: #c5e0b3 none;
  white-space: normal;
}

.xl7110772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  border-top: 0.5pt solid black;
  border-right: 0.5pt solid black;
  border-bottom: none;
  border-left: 0.5pt solid black;
  background: #c5e0b3;
  mso-pattern: #c5e0b3 none;
  white-space: nowrap;
}

.xl7210772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  border: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7310772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: "_-\0022$\0022\\ * \#\,\#\#0_-\;\\-\0022$\0022\\ * \#\,\#\#0_-\;_-\0022$\0022\\ * \0022-\0022_-\;_-\@";
  text-align: center;
  vertical-align: middle;
  border: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7410772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: bottom;
  border: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7510772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7610772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7710772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: left;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: 0.5pt solid black;
  background: white;
  mso-pattern: white none;
  white-space: normal;
}

.xl7810772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl7910772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8010772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 16pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8110772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 18pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8210772 {
  padding: 0px;
  mso-ignore: padding;
  color: #0563c1;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  text-underline-style: single;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: left;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8310772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border: none;
  background: #c5e0b3;
  mso-pattern: #c5e0b3 none;
  white-space: nowrap;
}

.xl8410772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8510772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8610772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: "_-* \#\,\#\#0_-\;\\-* \#\,\#\#0_-\;_-* \0022-\0022_-\;_-\@";
  text-align: center;
  vertical-align: middle;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8710772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl8810772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: 0.5pt solid black;
  background: white;
  mso-pattern: white none;
  white-space: normal;
}

.xl8910772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: left;
  vertical-align: bottom;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: normal;
}

.xl9010772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: middle;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: 0.5pt solid black;
  background: #c5e0b3;
  mso-pattern: #c5e0b3 none;
  white-space: nowrap;
}

.xl9110772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: bottom;
  border: none;
  background: #d8d8d8;
  mso-pattern: #d8d8d8 none;
  white-space: nowrap;
}

.xl9210772 {
  padding: 0px;
  mso-ignore: padding;
  color: black;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: center;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: none;
  border-left: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9310772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: none;
  border-bottom: none;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9410772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: 0.5pt solid black;
  border-right: 0.5pt solid black;
  border-bottom: none;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9510772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9610772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: none;
  border-right: 0.5pt solid black;
  border-bottom: none;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9710772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: none;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: 0.5pt solid black;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9810772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: none;
  border-right: none;
  border-bottom: 0.5pt solid black;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.xl9910772 {
  padding: 0px;
  mso-ignore: padding;
  color: windowtext;
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: Calibri;
  mso-generic-font-family: auto;
  mso-font-charset: 0;
  mso-number-format: General;
  text-align: general;
  vertical-align: bottom;
  border-top: none;
  border-right: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
  border-left: none;
  mso-background-source: auto;
  mso-pattern: auto;
  white-space: nowrap;
}

.body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fs {
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 30px;
  padding-bottom: 10px;
}

.idCotizacion {
  font-size: xx-large;
  font-weight: 900;
}

.b {
  height: 20px;
  background-color: #c5e0b3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btitle {
  height: 25px;
  background-color: #c5e0b3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cliente {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
  margin-bottom: 10px;
}

.ori {
  text-align: center;
  vertical-align: middle;
}

.vert {
  vertical-align: middle;
}

.cen {
  text-align: center;
}

.obstotal {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 1em;
}

.total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.font {
  font-size: large;
}

.obser {
  text-align: start;
}

.title {
  height: 20px;
  background-color: #c5e0b3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.firma {
  display: grid;
  justify-content: start;
  margin-right: 10px;
  text-align: left;
}
