<div class="basket-container">
  <div class="global-overlay-popup"></div>
  <div class="basket-box">
    <div class="basket-head">
      <div class="basket-head-title">
        <img src="/images/greenpack_logo_verde.png" alt="" width="150">
      </div>
      <div>
        <div class="close-basket"><i class="hidden-mobile"></i><span>Seguir Cotizando</span></div>
      </div>
    </div>
    <div class="basket-body">
      <!-- -->
      <div class="content-basket-empty ng-star-inserted">
        <div><i class="iconf-car-2-icon"></i>
          <p><strong>No tienes productos cotizados</strong></p>
          <p>Te invitamos a cotizar</p>
        </div>
      </div>
    </div>

    <div class="border-space"></div>

    <div class="basket-footer">
      <div class="border-space"></div>
      <div class="cont-footer-header">
        <div class="cont-total">
          <ul>
            <li class="total">
              <p class="item-description"></p>
              <p class="price-description"></p>
            </li>
          </ul>
        </div>
        <div class="btn-go-checkout"><button type="button" disabled="" id="submit-order">Finalizar</button></div>
      </div>
    </div>
  </div>
</div>
<script src="/js/basket.js"></script>
<form action="send-quoation.php" method="post" id="form-quotation">
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-oder">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Para finalizar, ingresa tus datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="email-quotation">Email: *</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder=""
                  required id="email-quotation">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Ciudad: *</label>
                <input type="text" class="form-control" name="city" aria-describedby="emailHelp" placeholder="" required
                  id="city-quotation">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="name-quotation">Nombres: *</label>
                <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="" required
                  id="name-quotation">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="surname-quotation">Apellidos: *</label>
                <input type="text" class="form-control" name="lastname" aria-describedby="emailHelp" placeholder=""
                  required id="surname-quotation">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="phone-quotation">Teléfono: </label>
                <input type="text" class="form-control" name="phone" aria-describedby="emailHelp" placeholder=""
                  id="phone-quotation">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="company-quotation">Empresa: </label>
                <input type="text" class="form-control" name="company" aria-describedby="emailHelp" placeholder=""
                  id="company-quotation">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="cell-phone-quotation">Celular: *</label>
                <input type="text" class="form-control" name="cellphone" aria-describedby="emailHelp" placeholder=""
                  required id="cell-phone-quotation">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="address-quotation">Dirección: *</label>
                <input type="text" class="form-control" name="address" aria-describedby="emailHelp" placeholder=""
                  required id="address-quotation">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <textarea name="extra" id="" rows="5" class="form-control"
                      placeholder="Si deseas en este espacio puedes ingresar especificaciones extra para tu cotización"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Enviar Cotización">
          <button type="button" class="btn btn-info" data-dismiss="modal">Seguir Cotizando</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="/vendor/bootstrap-notify.min.js"></script>
<script>
  $('#form-quotation').submit((event) => {
    event.preventDefault()
    let dataSerialize = $('#form-quotation').serialize()
    $('#modal-oder').modal('hide')
    $.notify({
      message: 'Enviando Email',
      icon: 'fas fa-envelope'
    }, {
      type: 'info'
    })
    $.post('/services/create_quotation.php', dataSerialize, (data, status, xhr) => {
      if (status == 'success') {
        $.notify({
          message: 'Cotizacion enviada',
          icon: 'fas fa-envelope-open'
        }, {
          type: 'success'
        })
        cleanCart()
        renderCart()
      } else {
        alert('No tienes productos ')
        renderCart()
      }
    })
  })
  $('#email-quotation').change(() => {
    $.get('/services/get_client.php', {
      email: $('#email-quotation').val()
    }, (client, status) => {
      if (client.id) {
        $('#company-quotation').val(client.company)
        $('#name-quotation').val(client.name)
        $('#surname-quotation').val(client.surname)
        $('#city-quotation').val(client.city)
        $('#address-quotation').val(client.address)
        $('#cell-phone-quotation').val(client.cellPhone)
        $('#phone-quotation').val(client.phone)
      }
    })
  })
</script>