<style>
  @media (min-width: 816px) {
    #footer1 {
      padding-left: 79px;
    }

    #footer2 {
      position: relative;
      left: -42px;
      width: 100%;
    }
  }
</style>
<!--footer strat here-->
<div class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="ftr-grids-block row">
        <div
          class="footergreen"
          style="display: grid; grid-template-columns: repeat(4, 1fr)"
        >
          <div class="footer-grid">
            <img src="/images/logo-doble.png" alt="" />
          </div>
          <div class="col-md-3 footer-grid" id="footer1">
            <!-- <h3 style="color:#fff!important">Nuestro Menu</h3> -->
            <ul>
              <li><a href="/about.php">Empresa</a></li>
              <li><a href="/shop/category.php?id=1&page=1">Productos</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/#contact">Contactenos</a></li>
            </ul>
          </div>
          <div class="footer-grid" id="footer2">
            <!-- <h3 style="color: #fff !important">Legal</h3> -->
            <ul>
              <!-- <li><a href="javascript:void(0)">Terminos y Condiciones</a></li> -->
              <li>
                <a href="" data-toggle="modal" data-target="#exampleModalLong"
                  >Politica de Proteccion de Datos</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-grid-icon">
            <ul>
              <li>
                <a
                  href="https://co.pinterest.com/Ventasgreenpack/"
                  target="_blank"
                  ><span class="print"> </span
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/greenpacksas/"
                  target="_blank"
                  ><span class="instro"> </span
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/Greenpacksas" target="_blank"
                  ><span class="twitter"> </span
                ></a>
              </li>
              <li>
                <a href="https://www.facebook.com/greenpacksas/" target="_blank"
                  ><span class="fb"> </span
                ></a>
              </li>
            </ul>
            <form id="form-suscribe-footer">
              <input
                class="email-ftr"
                type="text"
                id="email-suscribe-form"
                value="Suscripciones"
                onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Suscripciones';}"
              />
              <input type="submit" value="Enviar" />
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="copy-rights">
        <p>
          ©2021 Greenpack. Todos los Derechos Reservados | Desarrollado por
          <a href="https://teenus.com.co" target="_blank">Teenus S.A.S</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--footer end here-->
<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Política de tratamiento de datos personales
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="box content">
          <!--<p><strong>Política de tratamiento de datos personales</strong></p>-->
          <p>
            <strong>GREENPACK SAS</strong> (en adelante, GREENPACK) es
            responsable del tratamiento de datos personales. Los titulares de
            los datos personales aceptan el tratamiento de sus datos personales
            conforme a los términos de esta Política de Privacidad y nos
            autorizan a su tratamiento en los términos de esta política cuando
            proporciona los datos a través de los diferentes medios.
          </p>
          <br />
          <p>
            <strong>GREENPACK</strong> es una sociedad anónima simplificada, que
            fabrica y comercializa empaques biodegradables y compostables a base
            de papel de árbol y de caña de azúcar.<br /><br />
            Nuestros datos de contacto son:
          </p>
          <br /><br />
          <p>
            <strong>Razón Social:</strong> GREEPACK S.A.S.<br />
            <strong>Dirección:</strong> Carrera 5 Este # 20 – 69 Bodega 6.
            Centro Empresarial El Cabrero. Mosquera-Cundinamarca.<br />
            <strong>Teléfono:</strong> 57 (1) 8920 2631<br />
            <strong>Celular:</strong> 57 (320) 306 9789<br />
            <strong>Email:</strong>
            <span id="cloak20396"
              ><a href="mailto:administracion@greenpack.com.co"
                >administracion@greenpack.com.co</a
              ></span
            >
          </p>
          <br />
          <p>
            Los tipos de datos personales que reposan en nuestras bases de datos
            son utilizados y tratados para cumplir con nuestro objeto, son:
          </p>
          <p>
            – Nombre, Cargo, Profesión, CC o NIT, Teléfono fijo, Celular,
            Dirección, Dirección de correo electrónico.
          </p>
          <br />
          <p>
            Igualmente, recolectamos de nuestros trabajadores y proveedores la
            siguiente información.
          </p>
          <br /><br />
          <p>
            – fecha y lugar de nacimiento, nacionalidad, estado civil, sexo,
            grados de escolaridad, experiencia laboral, referencias personales,
            nivel y estado socioeconómico y situación financiera, estado de
            salud, entidades de seguridad social a las que se encuentra
            afiliado, antecedentes disciplinarios y judiciales, núcleo familiar
            y dependiente, actividades y hobbies.
          </p>
          <br />
          <p>
            La información suministrada permanecerá almacenada por el término
            máximo necesario para permitirnos el cumplimiento de las
            obligaciones legales y/o contractuales a nuestro cargo,
            especialmente en materia contable, contractual, fiscal y tributaria,
            o para atender las disposiciones aplicables a los aspectos
            administrativos, contables, fiscales, jurídicos e históricos de la
            información.
          </p>
          <br />
          <p>
            Presumimos la veracidad de la información suministrada y no
            verificamos, ni asumimos la obligación de verificar la veracidad,
            vigencia, suficiencia y autenticidad de los datos que nos sean
            proporcionados.
          </p>
          <br />
          <p>
            <strong>Finalidades del tratamiento</strong><br /><br />
            Al proporcionar sus Datos Personales, el titular de los datos nos
            autoriza a usar esta información para alimentar los sistemas
            contables, laborales y para las finalidades señaladas en la
            respectiva solicitud de datos, en concordancia con lo previsto en
            esta Política de Privacidad.
          </p>
          <br />
          <p>
            Si usted nos proporciona datos personales, nos autoriza para usar
            esta información para las finalidades señaladas en concordancia con
            lo previsto en esta Política de Privacidad, y no procederemos a
            transferir o divulgar la misma fuera de nuestras bases de datos
            salvo que (i) usted nos autorice a hacerlo, (ii) sea necesario para
            permitir a nuestros contratistas, proveedores o agentes prestar los
            servicios que les hemos encomendado, (iii) la utilicemos nosotros o
            terceros para proporcionarle nuestros productos o servicios, (iv)
            sea entregada a las entidades que prestan servicios de marketing en
            nuestro nombre o a otras entidades con las cuales tenemos acuerdos
            de mercadeo conjunto, (v) tenga relación con una fusión,
            consolidación, adquisición, desinversión u otro proceso de
            restructuración, (vi) implementemos un contrato de transmisión de
            datos personales en los términos del Decreto 1377 de 2013, o (vii)
            según sea requerido o permitido por la ley o para las finalidades
            desarrolladas en la presente política de privacidad.
          </p>
          <br />
          <p>
            Al aceptar esta política de privacidad, nos autoriza para hacer
            tratamiento de la información recolectada con la finalidad de
            cumplir con los objetivos de GREENPACK. Estas finalidades son:
          </p>
          <br />
          <p>
            – Consultar y actualizar los datos personales, en cualquier tiempo,
            con el fin de mantener actualizada dicha información en nuestras
            bases de datos.<br /><br />
            – Enviar información a los clientes, proveedores o empleados en
            relación a temas publicitarios y ofertas comerciales que permitan el
            impulso de productos y/o servicios que sean o no ofrecidos por parte
            de GREENPACK.<br />
            – Enviar comunicaciones, por diferentes medios, relacionadas con
            eventos organizados por GREENPACK o por terceros.<br />
            – Enviar comunicaciones, por diferentes medios, relacionadas con
            capacitaciones y otras enseñanzas organizadas por GREENPACK o por
            terceros.<br />
            – Entregar información a terceros que requieran establecer contactos
            comerciales con los clientes, proveedores o empleados, en relación
            con asuntos comerciales.<br />
            – Enviar información y mensajes promocionales y/o publicitarios a
            los clientes, proveedores o empleados en relación a eventos,
            actividades, promociones u ofertas en las cuales GREENPACK sea parte
            en cualquier calidad o realizar actividades de mercadeo.<br />
            – Realizar actividades dirigidas a fortalecer la presencia
            institucional de GREENPACK y a realizar contactos con terceros para
            el ejercicio de estas actividades.<br />
            – Gestionar las relaciones con clientes, proveedores y empleados lo
            cual puede incluir actualización de datos o llevar a cabo controles
            reglamentarios.<br />
            – Para gestionar el cumplimiento de los términos establecidos en la
            relación laboral como:&nbsp; Afiliación y aportes a las entidades de
            seguridad social, creación de contrato laboral, generación de pagos
            y beneficios laborales, así como programas de capacitación,
            desarrollo, bienestar, salud ocupacional y seguridad.<br />
            – Para realizar estudios de mercado para definir el perfil de
            nuestros usuarios, realizar publicidad y prospección comercial.<br />
            – Gestionar medios de comunicación social y/o contenido
            editorial.<br />
            – Desarrollar guías/catálogos de servicios para comercio
            electrónico.<br />
            – Facilitar el registro de entrada y salida de documentos.
          </p>
          <br />
          <p>
            Con la aceptación de la presente Política de Privacidad, los
            titulares de datos personales nos autorizan para hacerles llegar,
            por distintos medios y canales (incluyendo, pero no limitándose a
            correo electrónico, SMS o mensajes de texto, etc.) información de
            productos y servicios, y de ofertas de productos y/o servicios que
            son de interés de GREENPACK, clientes, empleados y proveedores.
          </p>
          <p>
            <strong>Seguridad</strong><br /><br />
            Tenemos establecidas políticas, procedimientos y estándares de
            seguridad de la información, cuyo objetivo es proteger y preservar
            la integridad, confidencialidad y disponibilidad de la información,
            independientemente del medio o formato donde se encuentre, de su
            ubicación temporal o permanente o de la forma en que ésta sea
            transmitida.
          </p>
          <p>
            Los terceros contratados por nosotros están igualmente obligados a
            adherirse y dar cumplimiento a las políticas y manuales de seguridad
            de la información, así como a los protocolos de seguridad que
            aplicamos a todos nuestros procesos.
          </p>
          <br />
          <p>
            Todo contrato con terceros (contratistas, empleados, consultores
            externos, colaboradores temporales, etc.) que involucre el
            tratamiento de información y datos personales, incluirá un acuerdo
            de confidencialidad que detalle sus compromisos para la protección,
            cuidado, seguridad y preservación de la confidencialidad, integridad
            y privacidad de la información.
          </p>
          <br />
          <p>
            <strong>Derechos y procedimientos</strong><br />
            Usted manifiesta libre, expresa y previamente haber sido informado
            sobre los derechos que la ley le concede como titular de sus datos
            personales. Estos derechos se enuncian a continuación:
          </p>
          <p>
            – Conocer, actualizar y rectificar sus datos personales frente a la
            entidad responsable del tratamiento o encargada del tratamiento de
            sus datos personales.<br /><br />
            – Solicitar prueba de la autorización otorgada al responsable del
            tratamiento, salvo cuando expresamente se exceptúe como requisito
            para el tratamiento.<br />
            – Ser informado por el responsable del tratamiento o el encargado
            del tratamiento, previa solicitud, respecto del uso que le ha dado a
            los datos personales.<br />
            – Presentar ante la Superintendencia de Industria y Comercio quejas
            por infracciones al régimen de protección de datos personales.<br />
            – Revocar la autorización y/o solicitar la supresión del dato
            personal en los términos de la Ley 1581 de 2012.<br />
            – Acceder en forma gratuita una vez por mes a sus datos personales
            que hayan sido objeto de tratamiento, en los términos de la
            normatividad vigente.
          </p>
          <p>
            Los procedimientos para el ejercicio de sus derechos serán los
            siguientes:
          </p>
          <br />
          <p>
            <strong>Procedimiento para consultas</strong><br />
            Los titulares, las personas autorizadas o causahabientes podrán
            consultar su información personal que repose en nuestras bases de
            datos, caso en el cual le suministraremos la información solicitada,
            previa verificación de la legitimación para presentar dicha
            solicitud. La consulta será atendida en un término máximo de diez
            (10) días hábiles contados a partir de la fecha de recibo de la
            misma. Cuando no fuere posible atender la consulta dentro de dicho
            término, se le informarán los motivos de la demora señalando la
            fecha en que se atenderá su consulta, la cual en ningún caso podrá
            superar los cinco (5) días hábiles siguientes al vencimiento del
            primer término.
          </p>
          <br />
          <p>
            Si los titulares o las personas autorizadas consideran que la
            información contenida en una base de datos debe ser objeto de
            corrección, actualización o supresión, o cuando adviertan el
            presunto incumplimiento de cualquiera de los deberes contenidos en
            la ley, podrán presentar un reclamo ante nosotros, el cual será
            tramitado bajo las siguientes reglas:
          </p>
          <br />
          <p>
            1. Su reclamo deberá formularse mediante solicitud dirigida a
            GREENPACK con sus datos de identificación, la descripción de los
            hechos que dan lugar al reclamo, su dirección, y acompañando los
            documentos que se quiera hacer valer como prueba de los hechos. Si
            el reclamo resultare incompleto, lo requeriremos dentro de los cinco
            (5) días siguientes a la recepción del mismo para que subsane las
            fallas. Transcurridos dos (2) meses desde la fecha del
            requerimiento, sin que usted presente la información requerida,
            entenderemos que ha desistido del reclamo, en los términos del
            artículo 17 de la Ley 1755 de 2015, estatutaria del Derecho de
            Petición.
          </p>
          <p>&nbsp;</p>
          <p>
            En caso de que no seamos competentes para resolver su reclamo,
            GREENPACK dará traslado a quien corresponda en un término máximo de
            dos (2) días hábiles hecho que le será informado al Titular de
            manera oportuna.
          </p>
          <p>
            1. De ser procedente, una vez recibido el reclamo completo, se
            incluirá en la base de datos una leyenda que diga «reclamo en
            trámite» y el motivo del mismo, en un término no mayor a dos (2)
            días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo
            sea decidido.<br /><br />
            2. El término máximo para atender el reclamo será de quince (15)
            días hábiles contados a partir del día siguiente a la fecha de su
            recibo. Cuando no fuere posible atender el reclamo dentro de dicho
            término, se le informarán los motivos de la demora y la fecha en que
            se atenderá su reclamo, la cual en ningún caso podrá superar los
            ocho (8) días hábiles siguientes al vencimiento del primer término.
          </p>
          <p>
            Los titulares de datos personales pueden ejercer sus derechos de
            conocer, actualizar, rectificar y suprimir sus datos personales
            enviando su solicitud al correo electrónico
            <span id="cloak16822"
              ><a href="mailto:administracion@greenpack.com.co"
                >administracion@greenpack.com.co</a
              ></span
            >, o en los teléfonos +57 (1) 893 2631 / +57 (320) 306 9789 de
            conformidad con lo establecido en esta Política de Privacidad.
          </p>
          <p>
            El área de atención de peticiones, consultas o reclamos ante la cual
            el titular de la información puede ejercer sus derechos es:
          </p>
          <br />
          <p>
            <strong>Área: Administrativa</strong><br />
            <strong
              >Dirección: Carrera 5 Este #&nbsp; 20 – 69 Bodega 6 Mosquera –
              Cundinamarca</strong
            ><br />
            <strong>Teléfonos: +57 (1) 893 2631 / +57 (320) 306 9789</strong
            ><br />
            <strong
              >Dirección de contacto:
              <span id="cloak30685"
                ><a href="mailto:administracion@greenpack.com.co"
                  >administracion@greenpack.com.co</a
                ></span
              >
            </strong>
          </p>
          <br />
          <p>
            <strong>Modificaciones y vigencia</strong><br />
            Podremos modificar en cualquier momento los términos y condiciones
            de estas Políticas de Privacidad. Cualquier modificación se
            informará en la página web y publicando una versión actualizada de
            las políticas de privacidad. Las bases de datos tendrán vigencia
            indefinida, de conformidad las finalidades y usos de la información.
          </p>
          <br />
          <p>
            Esta política fue modificada y publicada en nuestro sitio web el 2
            de Mayo de 2017 y entra en vigencia a partir de la fecha de
            publicación.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<div id="google_translate_element"></div>
<script src="/vendor/bootstrap-notify.min.js"></script>
<script>
  $("#form-suscribe-footer").submit((e) => {
    e.preventDefault();
    $.post(
      "/services/suscribe.php",
      {
        email: $("#email-suscribe-form").val(),
      },
      (data, status) => {
        if (status == "success") {
          $.notify(
            {
              message:
                "Gracias por preferirnos <br> Su suscripcion ha sido exitosa",
            },
            {
              type: "success",
            }
          );
        }
      }
    );
  });
</script>
<style>
  @media only screen and (max-width: 767px),
    screen and (orientation: portrait) {
    .footer .col-md-3 {
      width: 100%;
      padding-left: 50px;
      padding-right: 20px;
    }
  }
</style>
